<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136127928543-4bfsnpjnoja77icmlma1ahlc62hu1h9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136127928543-4bfsnpjnoja77icmlma1ahlc62hu1h9j</string>
	<key>API_KEY</key>
	<string>AIzaSyCePjL_OTh4_K0GJrZgGErlYi3VMJhGyD0</string>
	<key>GCM_SENDER_ID</key>
	<string>136127928543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eatsthesoul.Networking</string>
	<key>PROJECT_ID</key>
	<string>networking-76d01</string>
	<key>STORAGE_BUCKET</key>
	<string>networking-76d01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136127928543:ios:8ead5643e962bb3c63316a</string>
</dict>
</plist>